@import "./vars";
@import "./mixins";

html,
body {
  background-color: $white;
}

body {
  max-width: calc(100vw - var(--scroll));

  &._hide {
    overflow: hidden;
    margin: 0 auto 0 0;
  }
}

*,
*::before,
*::after {
  font-family: 'Montserrat';
  color: #040404;
  line-height: 100%;
}

.container {
  max-width: 176rem;
  margin: 0 auto;
}

.page {
  &-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &-title {
    font-size: 6.4rem;
    font-weight: $font_s;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 128%;
  }

  &-description {
    font-size: 1.8rem;
    font-weight: $font_m;
    line-height: 140%;
    max-width: 71.1rem;
    margin-right: auto;
  }
}

.project-card {
  &:hover &-img {
    &__img {
      transform: scale(1.05);
    }
  }

  &-img {
    height: 66rem;
    margin-bottom: 2rem;
    overflow: hidden;

    &__img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
      transition: .3s;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.2rem solid #000;
      padding-bottom: 0.7rem;
    }

    &__title {
      font-size: 2rem;
      font-weight: $font_s;
      line-height: 120%;
    }

    &__date {
      font-size: 1.4rem;
      font-weight: $font_r;
      line-height: 136%;
    }

    &__box {
      display: flex;
      align-items: center;
      gap: 2.4rem;

      & span+span {
        &::before {
          content: '+';
          display: inline-block;
          margin-right: 0.8rem;
        }
      }
    }

    &__name {
      font-size: 1.8rem;
      font-weight: $font_r;
      line-height: 120%;
      color: #828282;
    }
  }
}

.page-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 4.3rem;

  & a+a {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      width: 2rem;
      height: 0.1rem;
      background-color: #828282;
      position: absolute;
      left: -2.5rem;
    }
  }

  &__link {
    font-size: 1.2rem;
    font-weight: $font_r;
    line-height: 140%;
    color: #828282;
    transition: .3s;

    &._active {
      color: #040404;
    }

    &:hover {
      color: #040404;
    }
  }
}