@import "./vars";

@mixin breakpoint($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin editor {

  &> {
    p {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      // font-size: inherit;
      font-weight: inherit;
      // line-height: inherit;
    }

    h1 {
      font-size: calc(1em + 0.5em);
      line-height: calc(1em + 0.5em);
    }

    h2 {
      font-size: calc(1em + 0.4em);
      line-height: calc(1em + 0.4em);
    }

    h3 {
      font-size: calc(1em + 0.3em);
      line-height: calc(1em + 0.3em);
    }

    h4 {
      font-size: calc(1em + 0.2em);
      line-height: calc(1em + 0.2em);
    }

    h5 {
      font-size: calc(1em + 0.1em);
      line-height: calc(1em + 0.1em);
    }

    h6 {
      font-size: inherit;
      line-height: inherit;
    }

    ul,
    ol {
      padding-left: 1.3em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      &>li {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
      }
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    * {
      &>a {
        text-decoration: underline;
      }
    }
  }
}

// @mixin title {
//   font-family: "Montserrat";
//   font-weight: 600;
//   color: $grey_1;
// }

// @mixin title_1 {
//   @include title();
//   font-size: 10rem;
// }

// @mixin title_2 {
//   @include title();
//   font-size: 6.4rem;
// }

// @mixin title_3 {
//   @include title();
//   font-size: 2.6rem;
// }

// @mixin title_4 {
//   @include title();
//   font-size: 1.8rem;
// }

// @mixin text {
//   font-family: "Montserrat";
//   font-weight: 400;
//   color: $grey_1;
// }

// @mixin text_1 {
//   @include text();
//   font-size: 2rem;
// }

// @mixin text_2 {
//   @include text();
//   font-size: 1.6rem;
// }