@import "../vars";

.article {
  padding-top: 12.2rem;

  @include breakpoint($xl-bp) {
    padding-top: 7.4rem;
  }

  &-links {
    margin-bottom: 8rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 3rem;
    }
  }

  &-title {
    font-size: 4.8rem;
    font-weight: $font-s;
    text-transform: uppercase;
    max-width: 112.4rem;
    margin-bottom: 6rem;
    line-height: 124%;

    @include breakpoint($xl-bp) {
      margin-bottom: 3rem;
      font-size: 2.4rem;
      line-height: 2.9rem;
    }
  }

  &-img {
    height: 85.5rem;
    margin-bottom: 7.7rem;

    @include breakpoint($xl-bp) {
      height: 60rem;
      margin-bottom: 3rem;
    }

    @include breakpoint($jb-bp) {
      height: 50rem;
    }

    @include breakpoint($lb-bp) {
      height: 40rem;
    }

    @include breakpoint($sm-bp) {
      height: 30rem;
    }

    @include breakpoint($xs-bp) {
      height: 16.7rem;
    }

    &__img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }

  &-description {
    margin-bottom: 12.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($cos-bp) {
      // flex-direction: column;
      gap: 3rem;
    }

    @include breakpoint($xl-bp) {
      margin-bottom: 6rem;

      flex-direction: column;
    }

    &__text {
      padding-top: 1.5rem;
      flex: 1;
      font-size: 1.8rem;
      font-weight: $font-r;
      line-height: 140%;
      max-width: 86rem;

      @include breakpoint($cos-bp) {
        // flex: auto;
        // max-width: 100%;
        padding-top: 0;
      }

      @include breakpoint($xl-bp) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    &-img {
      width: 80rem;
      height: 59rem;

      @include breakpoint($cos-bp) {
        width: 100%;

        flex: 1;
        height: 80rem;
      }

      @include breakpoint($xl-bp) {
        flex: unset;
        height: calc((100vw - 3rem) * 0.73);
      }

      // @include breakpoint($jb-bp) {
      //   height: 50rem;
      // }

      // @include breakpoint($lb-bp) {
      //   height: 40rem;
      // }

      // @include breakpoint($sm-bp) {
      //   height: 30rem;
      // }

      // @include breakpoint($xs-bp) {
      //   height: 25.4rem;
      // }

      &__img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-main {
    margin-bottom: 20rem;
    display: grid;
    grid-template-columns: repeat(2, auto);

    @include breakpoint($cos-bp) {
      // display: flex;
      // flex-direction: column;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
    }

    @include breakpoint($xl-bp) {
      margin-bottom: 10rem;

      display: flex;
      flex-direction: column;
    }

    &__title {
      font-size: 3.6rem;
      font-weight: $font-s;
      line-height: 140%;
      margin-bottom: 4rem;
      grid-area: 1/1/2/2;
      max-width: 81.6rem;

      @include breakpoint($cos-bp) {
        order: 1;
      }

      @include breakpoint($xl-bp) {
        font-size: 2.4rem;
        line-height: 3.4rem;
        margin-bottom: 2rem;
      }
    }

    &__text {
      font-size: 2rem;
      font-weight: $font-r;
      line-height: 140%;
      grid-area: 2/1/5/2;
      max-width: 81.6rem;

      @include breakpoint($cos-bp) {
        order: 3;
        max-width: 100%;
        margin-bottom: 3rem;
      }

      @include breakpoint($xl-bp) {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 2rem;
      }
    }

    &-img {
      width: 80rem;
      height: 54.4rem;
      margin-left: auto;

      @include breakpoint($cos-bp) {
        width: 100%;

        height: 70rem;
      }

      @include breakpoint($xl-bp) {
        // height: 55rem;

        height: calc((100vw - 3rem) * 0.73);
      }

      // @include breakpoint($jb-bp) {
      //   height: 50rem;
      // }

      // @include breakpoint($lb-bp) {
      //   height: 40rem;
      // }

      // @include breakpoint($sm-bp) {
      //   height: 30rem;
      // }

      // @include breakpoint($xs-bp) {
      //   height: 23.4rem;
      // }

      &_1 {
        grid-area: 1/2/3/3;
        margin-bottom: 6rem;

        @include breakpoint($cos-bp) {
          order: 2;
        }

        @include breakpoint($xl-bp) {
          margin-bottom: 3rem;
        }
      }

      &_2 {
        grid-area: 3/2/5/3;

        @include breakpoint($cos-bp) {
          order: 4;
        }
      }

      &__img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }
  }
}