@import "../vars";

.dropdown {
  &-btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: $font-m;

    &.dropdown-btn_icon {
      svg {
        object-fit: contain;
        object-position: center center;
        width: 2.4rem;
        height: 2.4rem;
        transition: .3s;
      }
    }

    @include breakpoint($sm-bp) {
      font-size: calc(2rem * 1.33);
      line-height: calc(2.8rem * 1.33);
    }

    @include breakpoint($xs-bp) {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }

  &-container {
    overflow: hidden;
    transition: .3s;
  }

  &._active & {
    &-btn {
      &.dropdown-btn_icon {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}