@import "../vars";

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  max-width: calc(100vw - var(--scroll));
  pointer-events: none;
  background-color: $white;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-btn {
    pointer-events: all;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    margin-top: 1rem;

    @include breakpoint($xl-bp) {
      width: 3rem;
      height: 3rem;
      margin-top: 1.2rem;
    }

    &__icon {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
      transition: .3s;

      &_close {
        width: 50%;
        height: 50%;
        transform: scale(0);
        opacity: 0;
      }
    }

    &._active & {
      &__icon {
        &_close {
          transform: scale(1);
          opacity: 1;
        }

        &_open {
          transform: scale(0);
          opacity: 0;
        }
      }
    }
  }

  &-logo {
    pointer-events: all;
    margin-top: 1rem;
    width: 16.9rem;
    height: 6.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @include breakpoint($xl-bp) {
      width: 9.5rem;
      height: 3.4rem;
    }

    &__img {
      object-fit: contain;
      object-position: left top;
      // height: 100%;
      // width: 100%;
    }
  }

  &-info {
    pointer-events: all;
    margin-top: 1rem;
    margin-left: 9.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    @include breakpoint($cos-bp) {
      margin-left: 0;
    }

    @include breakpoint($xl-bp) {
      display: none;
    }

    &__link {
      width: fit-content;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: $font_m;
      color: #828282;
      transition: 0.3s;

      &:first-child {
        font-size: 1.8rem;
        line-height: 120%;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}