@import "../vars";

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  pointer-events: none;
  background-color: $white;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-btn {
    pointer-events: all;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &__icon {
      object-fit: contain;
      width: 100%;
      height: 100%;
      fill: #000000;
    }
  }

  &-logo {
    pointer-events: all;
    margin-top: 1rem;
    width: 16.9rem;
    height: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__img {
      object-fit: contain;
      object-position: left top;
      height: 100%;
      width: 100%;
    }
  }

  &-info {
    pointer-events: all;
    margin-top: 1rem;
    margin-left: 9.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    &__link {
      width: fit-content;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: $font_m;
      color: #828282;
      transition: 0.3s;

      &:first-child {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}