.main {
  &-header {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 13.1rem;

    &-logo {
      width: 16.9rem;
      height: 6.2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      &__link {
        width: fit-content;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: $font_m;
        color: #828282;
        transition: 0.3s;

        &:first-child {
          font-size: 1.8rem;
          line-height: 2.2rem;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15rem;
    line-height: 18.3rem;
    font-weight: $font_s;
    text-transform: uppercase;
    letter-spacing: calc(1em * 0.03 * -1);
    margin-bottom: 9.8rem;

    &::before {
      content: "";
      width: 0.2rem;
      height: 15rem;
      background-color: #040404;
      margin-right: -0.1rem;
      animation: printAnim 0.9s ease infinite;
    }
  }

  &__text {
    font-size: 3.2rem;
    font-weight: $font_m;
    line-height: 4.2rem;
    letter-spacing: calc(1em * 0.02 * -1);
    margin-bottom: 6rem;
    max-width: 41.1rem;
  }

  &-video {
    width: 100vw;
    height: 98.5rem;
    width: 100%;

    &-inner {
      width: 100%;
      height: 98.5rem;
    }

    &__preview {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }

  &-swiper {
    width: 100%;

    &-container {
      padding-top: 20rem;
    }

    &__title {
      font-size: 6.4rem;
      font-weight: $font_s;
      text-transform: uppercase;
      line-height: 7.8rem;
      margin-bottom: 7.7rem;
    }

    &-inner {
      border-top: 0.3rem solid #333333;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 2rem;
      position: relative;
      margin-bottom: 20rem;
    }

    &-btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;

      &-btn {
        border: none;
        background-color: transparent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        &._active &__text {
          &_bold {
            font-weight: $font_b;

            &::after {
              width: 100%;
            }
          }
        }

        &__text {
          font-size: 1.8rem;
          line-height: 2.2rem;
          font-weight: $font_r;
          transition: 0.3s;

          &_regular {
            opacity: 0;
          }

          &_bold {
            width: max-content;
            text-align-last: left;
            position: absolute;
            left: 0;
            pointer-events: none;

            &::after {
              transition: 0.8s;
              content: "";
              width: 0%;
              height: 0.1rem;
              background-color: #000000;
              left: 0;
              bottom: -0.3rem;
              position: absolute;
            }
          }
        }
      }
    }

    &-slide {
      height: 56.4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: relative;
      background-color: $white;

      &.swiper-slide-active &-btn {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
        transition: 0.8s 2s;
      }

      &.swiper-slide-duplicate-active &-btn {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
        transition: 0.8s 2s;
      }

      &.swiper-slide-active &__text:nth-child(1) {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
        transition: 0.8s 0.8s;
      }

      &.swiper-slide-duplicate-active &__text:nth-child(1) {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
        transition: 0.8s 0.8s;
      }

      &.swiper-slide-active &__text:nth-child(2) {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
        transition: 0.8s 1.5s;
      }

      &.swiper-slide-duplicate-active &__text:nth-child(2) {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
        transition: 0.8s 1.5s;
      }

      &-btn {
        font-size: 2rem;
        font-weight: $font_b;
        line-height: 2.8rem;
        color: #000000;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateX(5rem);
        transition: 0.5s 0.5s;

        &:hover &-icon {
          &__icon {
            &_1 {
              left: 200%;
            }

            &_2 {
              left: 0;
            }
          }
        }

        &-icon {
          width: 6.1rem;
          height: 1.6rem;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          &__icon {
            position: absolute;
            object-fit: contain;
            width: 100%;
            height: 100%;
            fill: #000000;
            transition: 0.5s;

            &_1 {
              left: 0;
            }

            &_2 {
              left: -200%;
            }
          }
        }
      }

      &__text {
        font-size: 2.4rem;
        font-weight: $font_m;
        line-height: 3.4rem;
        max-width: 47.1rem;
        opacity: 0;
        pointer-events: none;
        transform: translateX(10rem);

        &:nth-child(1) {
          transition: 0.8s 0.1s;
        }

        &:nth-child(2) {
          transition: 0.8s 0.3s;
        }
      }
    }
  }

  &-render {
    margin-bottom: 20rem;

    &__title {
      font-size: 6.4rem;
      font-weight: $font_s;
      line-height: 7.8rem;
      text-transform: uppercase;
      margin-bottom: 8rem;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;

      &-item {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 2rem;
          font-weight: $font_s;
          line-height: 2.4rem;
          text-transform: uppercase;
          border-bottom: 0.2rem solid #040404;
          padding-bottom: 0.8rem;
          margin-bottom: 1.1rem;
        }

        &__description {
          font-size: 1.4rem;
          font-weight: $font_r;
          line-height: 1.9rem;
          max-width: 46.4rem;
          max-height: 7.6rem;
          flex: 1;
          margin-bottom: 1rem;
        }

        &-img {
          height: 80rem;
          width: 100%;

          &__img {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &-about {
    margin-bottom: 20rem;

    &__title {
      text-transform: uppercase;
      font-size: 6.4rem;
      font-weight: $font_s;
      line-height: 7.8rem;
      border-bottom: 0.3rem solid #333333;
      padding-bottom: 7.6rem;
      margin-bottom: 2.1rem;
    }

    &__description {
      font-size: 2.4rem;
      font-weight: $font_m;
      line-height: 3.4rem;
      max-width: 73.4rem;
      margin-bottom: 4rem;
    }

    &-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &-video {
      width: 100%;
      height: 108rem;

      &__preview {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      padding-left: 22.3rem;
      padding-top: 11.8rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-bottom: 10rem;

        &-item {
          display: flex;
          align-items: center;
          gap: 2.7rem;

          &__text {
            font-size: 1.6rem;
            font-weight: $font_s;
            line-height: 2.4rem;
          }
        }
      }

      &__title {
        font-size: 2rem;
        font-weight: $font_s;
        line-height: 2.8rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }

      &-text {
        max-width: 51.8rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 4.5rem;
      }

      &__text {
        font-size: 1.6rem;
        font-weight: $font_r;
        line-height: 2.2rem;
      }

      &__link {
        position: static;
        opacity: 1;
        pointer-events: all;
        transform: translate(0);
      }
    }
  }

  &-form {
    width: 40rem;
    margin-left: 22.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 20rem;
    }

    &__input {
      width: 100%;
      font-size: 1.6rem;
      font-weight: $font_r;
      padding: 1.4rem 1.6rem;
      border: none;
      background-color: transparent;
      border: 0.1rem solid transparent;
      border-bottom-color: #4f4f4f;
      outline: none;

      &::placeholder {
        color: #828282;
      }
    }

    &-btn {
      font-size: 1.6rem;
      font-weight: $font_s;
      text-transform: uppercase;
      width: 100%;
      padding: 0;
      margin: 0;
      margin-top: 1rem;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover &-icon {
        &__icon {
          &_1 {
            left: 200%;
          }

          &_2 {
            left: 0;
          }
        }
      }

      &-icon {
        width: 8.2rem;
        height: 1rem;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;

        &__icon {
          object-fit: contain;
          width: 100%;
          height: 100%;
          position: absolute;
          fill: #040404;
          transition: 0.5s;

          &_1 {
            left: 0;
          }

          &_2 {
            left: -200%;
          }
        }
      }
    }

    &-select {
      position: relative;

      &__value {
        display: none;
      }

      &__btn {
        width: 100%;
        font-size: 1.6rem;
        font-weight: $font_r;
        padding: 1.4rem 1.6rem;
        border: none;
        background-color: transparent;
        border: 0.1rem solid transparent;
        border-bottom-color: #4f4f4f;
        text-align: left;

        &._placeholder {
          color: #4f4f4f;
        }
      }

      &-list {
        position: absolute;
        background-color: $white;
        width: 100%;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        border-radius: 0 0 0.5rem 0.5rem;
        z-index: 10;
        max-height: 0;
        transition: .3s;
        overflow: hidden;

        & li + li {
          border-top: 0.1rem solid #4f4f4f;
        }
        &-item {
          &__btn {
            border: none;
            background-color: transparent;
            width: 100%;
            font-size: 1.6rem;
            font-weight: $font_r;
            padding: 1.4rem 1.6rem;
            outline: none;
            text-align: left;
            transition: .3s;

            &:hover  {
              padding-left: 3rem;
            }
            
            &:focus {
              padding-left: 3rem;
            }
          }
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 6rem;

      &__title {
        font-size: 6.4rem;
        font-weight: $font_s;
        text-transform: uppercase;
      }

      &__text {
        font-size: 2.4rem;
        font-weight: $font_m;
        line-height: 3.4rem;
      }
    }
  }
}

@keyframes printAnim {
  0% {
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
