@import "../vars";

.menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: $white;
  width: 100vw;
  height: 100vh;
  padding-top: 17.2rem;
  transform: translateY(-100%);
  transition: 0.5s ease;
  overflow-y: scroll;

  @include breakpoint($xl-bp) {
    padding-top: 9.4rem;
  }

  &._active {
    transform: translateY(0);
  }

  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 4rem;

    @include breakpoint($xl-bp) {
      padding-bottom: 10rem;
    }

    @include breakpoint($lb-bp) {
      flex-direction: column;
      gap: 4rem;
    }
  }

  &-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__inner {
      width: 100%;
      padding-top: 23.3rem;
      display: flex;
      align-items: flex-start;
      gap: 8rem;
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-inner {
    &:nth-child(1) {
      display: flex;
      align-items: flex-start;
      gap: 13.1rem;

      @include breakpoint($cos-bp) {
        gap: 9rem;
      }

      @include breakpoint($xl-bp) {
        flex-direction: column;
        gap: 4rem;
      }
    }

    &:nth-child(2) {
      display: flex;
      align-items: flex-start;
      gap: 28rem;

      @include breakpoint($cos-bp) {
        gap: 5rem;
      }

      @include breakpoint($xl-bp) {
        flex-direction: column;
        align-items: flex-end;
      }

      @include breakpoint($lb-bp) {
        align-items: flex-start;
        gap: 4rem;
      }
    }
  }

  &__link {
    &:last-child {
      margin-bottom: 0;
    }

    &_medium {
      font-size: 2rem;
      font-weight: $font-m;
      line-height: 2.8rem;
      margin-bottom: 3rem;
      transition: 0.3s;

      &:hover {
        opacity: 0.5;
      }

      @include breakpoint($xl-bp) {
        margin-bottom: 1.5rem;
      }
    }

    &_main {
      font-size: 3.2rem;
      font-weight: $font-s;
      line-height: 3.8rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 4.5rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0;
        height: 0.2rem;
        background-color: #040404;
        transition: 0.3s;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      @include breakpoint($xl-bp) {
        margin-bottom: 2rem;
      }
    }

    &_grey {
      font-size: 1.8rem;
      font-weight: $font-r;
      line-height: 2.5rem;
      color: #333333;
      margin-bottom: 2rem;
      transition: 0.3s;

      &:hover {
        color: #040404;
        opacity: 0.5;
      }
    }
  }

  &-contacts {
    align-items: flex-end;

    @include breakpoint($lb-bp) {
      align-items: flex-start;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      margin-top: 50.4rem;

      @include breakpoint($cos-bp) {
        margin-top: 0;
        position: absolute;
        left: 1.5rem;
        top: 71rem;
      }

      @include breakpoint($xl-bp) {
        position: static;
      }
    }

    &__link {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }

  &-dropdown {

    &._active & {
      &-btn {
        @include breakpoint($xl-bp) {
          margin-bottom: 1.5rem;
        }
      }
    }

    &-btn {
      pointer-events: none;

      @include breakpoint($xl-bp) {
        pointer-events: all;
        margin: 0;
        transition: .3s;
      }

      &__icon {
        display: none;

        @include breakpoint($xl-bp) {
          display: block;
        }
      }
    }

    &-list {
      position: absolute;
      display: flex;
      align-items: flex-start;
      gap: 8rem;

      @include breakpoint($xl-bp) {
        position: static;
        flex-direction: column;
        gap: 1.5rem;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

      }
    }
  }
}