@import "../vars";

.portfolio {
  padding-top: 18.1rem;

  @include breakpoint($xl-bp) {
    padding-top: 11.4rem;
  }

  &-info {
    margin-bottom: 10rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 6rem;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 6rem;

    @include breakpoint($jb-bp) {
      flex-direction: column;
      gap: 3rem;
      justify-content: center;
      border-bottom: 2px solid #000000;
      overflow: hidden;
    }

    &-inner {
      display: flex;
      align-items: center;
      gap: 6rem;

      @include breakpoint($jb-bp) {
        // width: 100%;
        // justify-content: center;
        // border-bottom: 0.2rem solid #000000;
        display: grid;
        column-gap: 6rem;
        row-gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
      }

      @include breakpoint($sm-bp) {
        column-gap: 3rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    &-wrapper {
      border-bottom: 2px solid #000000;
      // border-bottom: 0.2rem solid #000000;
      margin-bottom: 8rem;
      overflow: hidden;

      @include breakpoint($xl-bp) {
        margin-bottom: 2rem;
      }

      @include breakpoint($jb-bp) {
        border-bottom: none;
        // border-bottom: 1px solid #000000;
      }
    }

    &-item {

      @include breakpoint($jb-bp) {
        display: flex;
        justify-content: center;
      }

      &:nth-child(2) {
        @include breakpoint($jb-bp) {
          position: relative;
        }

        &::after {
          content: "";
          width: 200vw;
          height: 2px;
          // height: 0.1rem;
          background-color: #000000;
          position: absolute;
          // top: 3rem;
          bottom: -2px;
          display: none;

          @include breakpoint($jb-bp) {
            display: block;
          }

          // @include breakpoint($lb-bp) {
          //   height: 0.1rem;
          // }
        }
      }

      @include breakpoint($jb-bp) {
        &:nth-child(1) {
          justify-content: flex-end;
        }

        &:nth-child(3n) {
          justify-content: flex-start;
        }

        &:nth-child(4n) {
          justify-content: flex-end;
        }
      }

      &__link {
        display: inline-block;
        font-size: 1.8rem;
        font-weight: $font_r;
        line-height: 140%;
        color: #000000;
        border-bottom: 0.4rem solid transparent;
        padding-bottom: 1.4rem;
        white-space: nowrap;
        transition: .3s;

        @include breakpoint($xl-bp) {
          font-size: 1.6rem;
          line-height: 2.2rem;
          padding-bottom: 0.4rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.6rem * 1.33);
          line-height: calc(2.2rem * 1.33);
        }

        @include breakpoint($xs-bp) {
          font-size: 1.6rem;
          line-height: 2.2rem;
        }

        &._active {
          font-weight: $font_b;
          // border-bottom: 4px solid #000000;
          border-bottom: 0.4rem solid #000000;
        }

        &:hover {
          // border-bottom: 4px solid #000000;
          border-bottom: 0.4rem solid #000000;
        }
      }
    }
  }

  &-sections {

    &-border {
      height: 2px;
      background-color: #000000;

      // @include breakpoint($jb-bp) {
      //   height: 2px;
      // }

      @include breakpoint($jb-bp) {
        max-width: calc(100vw - 3rem);
        margin: 0 auto;
      }
    }
  }

  &-block {
    padding-top: 4rem;
    margin-bottom: 20rem;
    padding-top: 8rem;
    margin-top: -5rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 10rem;
    }

    &__title {
      font-size: 4.8rem;
      font-weight: $font_s;
      line-height: 120%;
      text-transform: uppercase;
      margin-bottom: 4rem;

      @include breakpoint($xl-bp) {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 2rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(2.4rem * 1.33);
        line-height: calc(2.9rem * 1.33);
      }

      @include breakpoint($xs-bp) {
        font-size: 2.4rem;
        line-height: 2.9rem;
      }
    }

    &__text {
      font-size: 1.8rem;
      font-weight: $font_r;
      line-height: 140%;
      margin-bottom: 8rem;
      max-width: 110.8rem;

      @include breakpoint($xl-bp) {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 4rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(1.4rem * 1.33);
        line-height: calc(2rem * 1.33);
      }

      @include breakpoint($xs-bp) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      row-gap: 8.15rem;

      @include breakpoint($xl-bp) {
        grid-template-columns: 1fr;
        row-gap: 4rem;
      }
    }
  }
}