<section class="about">
  <div class="container">

    <div class="page-info about-info">
      <h2 class="page-title about-title">
        О Node Render
      </h2>

      <p class="page-description about-description">
        Визуализация позволяет создать графический макет проекта максимальной реалистичности.
        <br>
        С помощью компьютерной графики создают объёмные трёхмерные модели, которые позволяют заказчику увидеть будущий
        объект до начала его реализации и строительства
      </p>
    </div>

    <div class="about-img">
      <img class="about-img__img" src="assets/images/about-page-img.jpg" alt="about">
    </div>

    <div class="about-swiper-container">
      <div class="about-swiper-btns">
        <button class="about-swiper-btns-btn _active">
          <span class="about-swiper-btns-btn__number">
            01
          </span>

          <span class="about-swiper-btns-btn__text">
            Команда профессионалов
          </span>

          <span class="about-swiper-btns-btn-icon">
            <svg class="about-swiper-btns-btn-icon__icon">
              <use href="#arrow-icon-small"></use>
            </svg>
          </span>
        </button>

        <button class="about-swiper-btns-btn">
          <span class="about-swiper-btns-btn__number">
            02
          </span>

          <span class="about-swiper-btns-btn__text">
            Одна из самых быстрорастущих компаний в отрасли
          </span>

          <span class="about-swiper-btns-btn-icon">
            <svg class="about-swiper-btns-btn-icon__icon">
              <use href="#arrow-icon-small"></use>
            </svg>
          </span>
        </button>

        <button class="about-swiper-btns-btn">
          <span class="about-swiper-btns-btn__number">
            03
          </span>

          <span class="about-swiper-btns-btn__text">
            Предлагаем комплексные технологические решения
          </span>

          <span class="about-swiper-btns-btn-icon">
            <svg class="about-swiper-btns-btn-icon__icon">
              <use href="#arrow-icon-small"></use>
            </svg>
          </span>
        </button>

        <button class="about-swiper-btns-btn">
          <span class="about-swiper-btns-btn__number">
            04
          </span>

          <span class="about-swiper-btns-btn__text">
            Более 100 успешно завершенных проектов
          </span>

          <span class="about-swiper-btns-btn-icon">
            <svg class="about-swiper-btns-btn-icon__icon">
              <use href="#arrow-icon-small"></use>
            </svg>
          </span>
        </button>

        <button class="about-swiper-btns-btn">
          <span class="about-swiper-btns-btn__number">
            05
          </span>

          <span class="about-swiper-btns-btn__text">
            3D-визуализация любой сложности
          </span>

          <span class="about-swiper-btns-btn-icon">
            <svg class="about-swiper-btns-btn-icon__icon">
              <use href="#arrow-icon-small"></use>
            </svg>
          </span>
        </button>
      </div>

      <div class="about-swiper swiper">
        <div class="about-swiper-wrapper swiper-wrapper">
          <div class="about-swiper-slide swiper-slide">
            <h4 class="about-swiper-slide__title">
              Lorem ipsum dolor
              </h5>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
                consectetur semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit
                iaculis nunc nibh condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor
                sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis.
              </p>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis.
              </p>
          </div>

          <div class="about-swiper-slide swiper-slide">
            <h4 class="about-swiper-slide__title">
              Lorem ipsum dolor
              </h5>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
                consectetur semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit
                iaculis nunc nibh condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor
                sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis.
              </p>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis.
              </p>
          </div>

          <div class="about-swiper-slide swiper-slide">
            <h4 class="about-swiper-slide__title">
              Lorem ipsum dolor
              </h5>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
                consectetur semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit
                iaculis nunc nibh condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor
                sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis.
              </p>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis.
              </p>
          </div>

          <div class="about-swiper-slide swiper-slide">
            <h4 class="about-swiper-slide__title">
              Lorem ipsum dolor
              </h5>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
                consectetur semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit
                iaculis nunc nibh condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor
                sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis.
              </p>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis.
              </p>
          </div>

          <div class="about-swiper-slide swiper-slide">
            <h4 class="about-swiper-slide__title">
              Lorem ipsum dolor
              </h5>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
                consectetur semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit
                iaculis nunc nibh condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor
                sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis.
              </p>

              <p class="about-swiper-slide__text">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
                Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
                lacus consectetur semper facilisis turpis.
              </p>
          </div>
        </div>
      </div>
    </div>

    {{> _form }}

  </div>
</section>