<section class="animation">
  <div class="container">

    <div class="page-links animation-links">
      <a href="#" class="page-links__link">
        Главная
      </a>

      <a href="#" class="page-links__link">
        Услуги
      </a>

      <a href="#" class="page-links__link _active">
        3D-анимация
      </a>
    </div>

    <div class="page-info animation-head">
      <h2 class="page-title">
        3D-АНИМАЦИЯ
      </h2>

      <p class="page-description">
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis.
      </p>
    </div>

    <div class="animation-img">
      <video class="animation-img__img" autoplay playsinline loop muted
        poster="assets/images/Servises_3_.00_00_00_00.Still008.jpg" data-mobile="assets/video/Servises_3_crop.mp4"
        data-desktop="assets/video/Servises_3.mp4">
        <source type="video/mp4">
      </video>
    </div>
    <!-- <div class="animation-img">
      <img src="assets/images/3d-animation-main.jpg" alt="animation" class="animation-img__img">
    </div> -->

    <div class="animation-description">
      <p class="animation-description__text">
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis.
      </p>

      <div class="animation-description-img">
        <video class="animation-description-img__img" autoplay playsinline loop muted
          poster="assets/images/Servises_1_.00_00_02_13.Still005.jpg" data-mobile="assets/video/Servises_1_crop.mp4"
          data-desktop="assets/video/Servises_1_.mp4">
          <source type="video/mp4">
        </video>
      </div>
      <!-- <div class="animation-description-img">
        <img src="assets/images/animation-description.jpg" alt="animation" class="animation-description-img__img">
      </div> -->
    </div>

    <div class="animation-info">
      <div class="animation-info-head">
        <h4 class="animation-info__title">
          Lorem ipsum dolor sit
          amet consectetur
        </h4>

        <p class="animation-info__text">
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
          <br><br>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>
      </div>

      <div class="animation-info-img">
        <video class="animation-info-img__img" autoplay playsinline loop muted
          poster="assets/images/Servises_2_.00_00_00_00.Still006.jpg" data-mobile="assets/video/Servises_2_crop.mp4"
          data-desktop="assets/video/Servises_2_.mp4">
          <source type="video/mp4">
        </video>
      </div>
      <!-- <div class="animation-info-img">
        <img src="assets/images/animation-info.jpg" alt="animation" class="animation-info-img__img">
      </div> -->
    </div>

    <div class="animation-portfolio">
      <h4 class="animation-portfolio__title">
        Lorem ipsum dolor sit
        amet consectetur
      </h4>

      <a href="#" class="main-swiper-slide-btn animation-portfolio__link">
        ПОСМОТРЕТЬ ПОРТФОЛИО
        <span class="main-swiper-slide-btn-icon">
          <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
            <use href="#arrow-icon"></use>
          </svg>

          <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
            <use href="#arrow-icon"></use>
          </svg>
        </span>
      </a>

      <p class="animation-portfolio__text">
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis
        turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
        Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
        consectetur semper facilisis turpis.
        <br><br>
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis.
      </p>
    </div>

    <div class="animation-form">
      {{> _form }}
    </div>

  </div>
</section>