<section class="article">
  <div class="container">

    <div class="page-links article-links">
      <a href="#" class="page-links__link">
        Главная
      </a>

      <a href="#" class="page-links__link">
        Блог
      </a>

      <a href="#" class="page-links__link _active">
        Название статьи
      </a>
    </div>

    <h2 class="article-title">
      Заголовок статьи Lorem ipsum dolor sit amet consectetur
    </h2>

    <div class="article-img">
      <img src="assets/images/article.jpg" alt="article" class="article-img__img">
    </div>

    <div class="article-description">
      <p class="article-description__text">
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis
        turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
        Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
        consectetur semper facilisis turpis.
        <br><br>
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis.
        <br><br>
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis
        turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
        Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
        consectetur semper facilisis turpis.
        <br><br>
      </p>

      <div class="article-description-img">
        <img src="assets/images/article-1.jpg" alt="article" class="article-description-img__img">
      </div>
    </div>

    <div class="article-main">
      <div class="article-main-content">
        <h4 class="article-main__title">
          Lorem ipsum dolor sit amet consectetur
        </h4>

        <p class="article-main__text">
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
          <br><br>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
          <br><br>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
          <br><br>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
          <br><br>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>
      </div>

      <div class="article-main-images">
        <div class="article-main-img">
          <img src="assets/images/article-2.jpg" alt="article" class="article-main-img__img">
        </div>

        <div class="article-main-img">
          <img src="assets/images/article-3.jpg" alt="article" class="article-main-img__img">
        </div>
      </div>
    </div>

  </div>
</section>