<section class="article">
  <div class="container">

    <div class="page-links article-links">
      <a href="#" class="page-links__link">
        Главная
      </a>

      <a href="#" class="page-links__link">
        Блог
      </a>

      <a href="#" class="page-links__link _active">
        Название статьи
      </a>
    </div>

    <h2 class="article-title">
      Заголовок статьи Lorem ipsum dolor sit amet consectetur
    </h2>

    <div class="article-img">
      <img src="assets/images/article.jpg" alt="article" class="article-img__img">
    </div>

    <div class="article-description">
      <div class="article-description__text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper
          facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis
          turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet
          vel.
          Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
          consectetur semper facilisis turpis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper
          facilisis turpis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper
          facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis
          turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet
          vel.
          Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
          consectetur semper facilisis turpis.
        </p>

        <ul>
          <li>Тест</li>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
        </ul>

        <ol>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
          <li>Тест</li>
        </ol>

        <h1>Тест <a href="">Тест</a></h1>
        <h2>Тест <a href="">Тест</a></h2>
        <h3>Тест <a href="">Тест</a></h3>
        <h4>Тест <a href="">Тест</a></h4>
        <h5>Тест <a href="">Тест</a></h5>
        <h6>Тест <a href="">Тест</a></h6>
      </div>

      <div class="article-description-img">
        <img src="assets/images/article-1.jpg" alt="article" class="article-description-img__img">
      </div>
    </div>

    <div class="article-main">
      <h4 class="article-main__title">
        Lorem ipsum dolor sit amet consectetur
      </h4>

      <div class="article-main__text article-main__text_1">
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
          proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
          proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>

        <ul>
          <li>Тест</li>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
        </ul>

        <ol>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
          <li>Тест</li>
        </ol>

        <h1>Тест <a href="">Тест</a></h1>
        <h2>Тест <a href="">Тест</a></h2>
        <h3>Тест <a href="">Тест</a></h3>
        <h4>Тест <a href="">Тест</a></h4>
        <h5>Тест <a href="">Тест</a></h5>
        <h6>Тест <a href="">Тест</a></h6>
      </div>
      <div class="article-main__text article-main__text_2">
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
          proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
          proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
          proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>
      </div>

      <div class="article-main-img article-main-img_1">
        <img src="assets/images/article-2.jpg" alt="article" class="article-main-img__img">
      </div>

      <div class="article-main-img article-main-img_2">
        <img src="assets/images/article-3.jpg" alt="article" class="article-main-img__img">
      </div>
    </div>

  </div>
</section>