<section class="blog">
  <div class="container">

    <h2 class="blog-title">
      Блог
    </h2>

    <div class="blog-inner">
      <div class="blog-filter">
        <div class="dropdown blog-filter-dropdown">
          <button type="button" class="dropdown-btn dropdown-btn_icon blog-filter-dropdown-btn blog-filter__title">
            Фильтр
            <svg class="blog-filter-dropdown-btn__icon">
              <use href="#dropdown-icon"></use>
            </svg>
          </button>

          <ul class="dropdown-container blog-filter-dropdown-container blog-filter-list">
            <li class="blog-filter-list-item">
              <button class="blog-filter-btn">
                Lorem ipsum dolor

                <svg class="blog-filter-btn__icon">
                  <use href="#dropdown-icon"></use>
                </svg>
              </button>
            </li>

            <li class="blog-filter-list-item">
              <button class="blog-filter-btn">
                <span class="blog-filter-btn__text">
                  Lorem ipsum dolor
                </span>

                <svg class="blog-filter-btn__icon">
                  <use href="#dropdown-icon"></use>
                </svg>
              </button>
            </li>

            <li class="blog-filter-list-item">
              <button class="blog-filter-btn">
                <span class="blog-filter-btn__text">
                  Lorem ipsum dolor
                </span>

                <svg class="blog-filter-btn__icon">
                  <use href="#dropdown-icon"></use>
                </svg>
              </button>
            </li>

            <li class="blog-filter-list-item">
              <button class="blog-filter-btn">
                <span class="blog-filter-btn__text">
                  Lorem ipsum dolor
                </span>

                <svg class="blog-filter-btn__icon">
                  <use href="#dropdown-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="blog-list-wrapper">
        <ul class="blog-list">
          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/3d-animation.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>

          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/modeling-main.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>

          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/modeling-info.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>

          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/model-1.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>

          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/3d-animation.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>

          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/modeling-main.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>

          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/modeling-info.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>

          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/model-1.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>

          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/3d-animation.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>

          <li class="blog-list-item">
            <a href="#" class="blog-list-item__link">
              <div class="blog-list-item-img">
                <img src="assets/images/modeling-main.jpg" alt="blog-img" class="blog-list-item-img__img">
              </div>

              <h4 class="blog-list-item__title">
                Lorem ipsum dolor sit amet consectetur
              </h4>

              <p class="blog-list-item__description">
                Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
                proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc...
              </p>

              <p class="blog-list-item__date">
                20.12.2022
              </p>
            </a>
          </li>
        </ul>

        <div class="blog-pagination">
          <a href="#" class="blog-pagination__link _active">
            1
          </a>

          <a href="#" class="blog-pagination__link">
            2
          </a>

          <a href="#" class="blog-pagination__link">
            3
          </a>

          <a href="#" class="blog-pagination__link">
            4
          </a>

          <a href="#" class="blog-pagination-btn">
            <svg class="blog-pagination-btn__icon">
              <use href="#arrow-icon-medium"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>