<section class="exterior">
  <div class="container">

    <div class="page-links exterior-links">
      <a href="#" class="page-links__link">
        Главная
      </a>

      <a href="#" class="page-links__link">
        Услуги
      </a>

      <a href="#" class="page-links__link">
        Визуализация
      </a>

      <a href="#" class="page-links__link _active">
        Экстерьер
      </a>
    </div>

    <h2 class="exterior-title">
      ВИЗУАЛИЗАЦИЯ ДЛЯ ЭКСТЕРЬЕРА
    </h2>

    <div class="exterior-img">
      <img src="assets/images/exterior-main.jpg" alt="exterior" class="exterior-img__img">
    </div>

    <div class="exterior-info">
      <div class="exterior-info-head">
        <div class="exterior-info__text">
          <p>
            Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
            proin
            egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
            malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
            semper
            facilisis turpis.
          </p>
        </div>

        <a href="#" class="main-swiper-slide-btn exterior-info-link">
          ПОСМОТРЕТЬ ПОРТФОЛИО
          <span class="main-swiper-slide-btn-icon">
            <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
              <use href="#arrow-icon"></use>
            </svg>

            <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
              <use href="#arrow-icon"></use>
            </svg>
          </span>
        </a>
      </div>

      <div class="exterior-info-inner">
        <div class="exterior-info-inner-img">
          <img src="assets/images/exterior-info.jpg" alt="exterior" class="exterior-info-inner-img__img">
        </div>

        <div class="exterior-info-inner-content">
          <div class="exterior-info-inner__text">
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur
              semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
              condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet
              consectetur.
              Libero sed et lacus consectetur semper facilisis turpis.
            </p>

            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="exterior-portfolio">
      <div class="exterior-portfolio-images">
        <div class="exterior-portfolio-img">
          <img src="assets/images/portfolio-1.jpg" alt="portfolio-1" class="exterior-portfolio-img__img">
        </div>

        <div class="exterior-portfolio-img">
          <img src="assets/images/portfolio-2.jpg" alt="portfolio-2" class="exterior-portfolio-img__img">
        </div>
      </div>

      <div class="exterior-portfolio-content">
        <h4 class="exterior-portfolio__title">
          Lorem ipsum dolor sit amet consectetur
        </h4>

        <a href="#" class="main-swiper-slide-btn exterior-info-link exterior-portfolio-content__link">
          ПОСМОТРЕТЬ ПОРТФОЛИО
          <span class="main-swiper-slide-btn-icon">
            <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
              <use href="#arrow-icon"></use>
            </svg>

            <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
              <use href="#arrow-icon"></use>
            </svg>
          </span>
        </a>

        <div class="exterior-portfolio-text">
          <div class="exterior-portfolio__text">
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur
              semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
              condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet
              consectetur.
              Libero sed et lacus consectetur semper facilisis turpis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis.
            </p>
          </div>
        </div>
      </div>
    </div>

    {{> _form }}

  </div>
</section>