<footer class="footer">
  <div class="container">
    <div class="footer-inner">

      <div class="footer-social">
        <a href="#" class="footer-logo">
          <img class="footer-logo__img" src="assets/images/logo-white.svg" alt="logo">
        </a>

        <ul class="footer-social-list">
          <li class="footer-social-list-item">
            <a href="#" class="footer-social-list-item__link">
              Instagram
            </a>
          </li>

          <li class="footer-social-list-item">
            <a href="#" class="footer-social-list-item__link">
              Facebook
            </a>
          </li>

          <li class="footer-social-list-item">
            <a href="#" class="footer-social-list-item__link">
              Behance
            </a>
          </li>

          <li class="footer-social-list-item">
            <a href="#" class="footer-social-list-item__link">
              Artstation
            </a>
          </li>
        </ul>
      </div>

      <nav class="footer-nav">
        <a href="#" class="footer-nav__link">
          Портфолио
        </a>

        <a href="#" class="footer-nav__link">
          Услуги
        </a>

        <a href="#" class="footer-nav__link">
          О нас
        </a>

        <a href="#" class="footer-nav__link">
          Блог
        </a>

        <a href="#" class="footer-nav__link">
          Контакты
        </a>
      </nav>

      <div class="footer-contacts">
        <div class="footer-contacts__phones">
          <a href="tel:+00000000000" class="footer-contacts__link">
            +0 (000) 000-00-00
          </a>

          <a href="tel:+00000000000" class="footer-contacts__link">
            +0 (000) 000-00-00
          </a>
        </div>

        <a href="mailto:noderender@gmail.com" class="footer-contacts__link">
          noderender@gmail.com
        </a>
      </div>

      <div class="footer-info">
        <p class="footer-info__text">
          г. Минск,
          <br>
          пл. Свободы 23-64
        </p>

        <ul class="footer-social-list footer-social-list_mob">
          <li class="footer-social-list-item">
            <a href="#" class="footer-social-list-item__link">
              Instagram
            </a>
          </li>

          <li class="footer-social-list-item">
            <a href="#" class="footer-social-list-item__link">
              Facebook
            </a>
          </li>

          <li class="footer-social-list-item">
            <a href="#" class="footer-social-list-item__link">
              Behance
            </a>
          </li>

          <li class="footer-social-list-item">
            <a href="#" class="footer-social-list-item__link">
              Artstation
            </a>
          </li>
        </ul>

        <div class="footer-info-legal">
          <p class="footer-info-legal__link">
            2022 © Node Render
          </p>

          <a href="https://bydesign.by/" target="_blank" class="footer-info-legal__link">
            Разработка сайта: Студия ЯР
          </a>
        </div>
      </div>

    </div>
  </div>
</footer>