<div class="form-wrapper">
  <div class="form-info">
    <h4 class="form-info__title">
      давай начнем!
    </h4>

    <p class="form-info__text">
      Оставь заявку, и мы ответим!
    </p>
  </div>

  <form action="#" class="form">
    <input type="text" class="form__input" placeholder="Имя">

    <input type="email" class="form__input" placeholder="E-mail">

    <div class="form-select">
      <input type="text" class="form-select__value" value="">
      <button type="button" class="form-select__btn _placeholder">
        Тема запроса
      </button>
      <ul class="form-select-list">
        <li class="form-select-list-item">
          <button type="button" class="form-select-list-item__btn" data-value="1">
            Архитекторы и дизайнеры
          </button>
        </li>

        <li class="form-select-list-item">
          <button type="button" class="form-select-list-item__btn" data-value="2">
            Производители
          </button>
        </li>

        <li class="form-select-list-item">
          <button type="button" class="form-select-list-item__btn" data-value="3">
            Девелоперы
          </button>
        </li>
      </ul>
    </div>

    <input type="email" class="form__input" placeholder="Опишите задачу">

    <button type="submit" class="form-btn">
      отправить заявку

      <span class="form-btn-icon">
        <svg class="form-btn-icon__icon form-btn-icon__icon_1">
          <use href="#arrow-icon-big"></use>
        </svg>

        <svg class="form-btn-icon__icon form-btn-icon__icon_2">
          <use href="#arrow-icon-big"></use>
        </svg>
      </span>
    </button>
  </form>
</div>