<header class="header">
  <div class="container header-container">

    <a href="#" class="header-logo">
      <img src="assets/images/node_logo.svg" alt="logo" class="header-logo__img">
    </a>

    <div class="header-info">
      <a href="#" class="header-info__link">noderender@gmail.com</a>
      <a href="#" class="header-info__link">+0 (000) 000-00-00</a>
      <a href="#" class="header-info__link">+0 (000) 000-00-00</a>
    </div>

    <button class="header-btn" type="button">
      <svg class="header-btn__icon header-btn__icon_open">
        <use href="#burger-menu-icon"></use>
      </svg>

      <svg class="header-btn__icon header-btn__icon_close">
        <use href="#close-menu-icon"></use>
      </svg>
    </button>

  </div>
</header>