<section class="main">
  <div class="container main-container">

    <div class="main-header">
      <div class="main-header-logo">
        <img src="assets/images/logo.svg" alt="logo" class="main-header-logo__img">
      </div>

      <div class="main-header-info">
        <a href="#" class="main-header-info__link">noderender@gmail.com</a>
        <a href="#" class="main-header-info__link">+0 (000) 000-00-00</a>
        <a href="#" class="main-header-info__link">+0 (000) 000-00-00</a>
      </div>
    </div>

    <h1 class="main__title">
      Привет!
    </h1>

    <p class="main__text">
      Creative spaces
      <br>
      for life and business
      <br>
      that capture your essence
    </p>

  </div>

  <div class="main-video">
    <div class="main-video-inner">
      <img src="assets/images/main-img.jpg" alt="" class="main-video__preview">
    </div>
  </div>

  <div class="container">
    <div class="main-swiper-container">
      <h3 class="main-swiper__title">
        что рендерим
      </h3>

      <div class="main-swiper-inner">
        <div class="main-swiper-btns">
          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d визуализация интерьеров
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d визуализация интерьеров
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d визуализация экстерьеров
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d визуализация экстерьеров
            </span>
          </button>

          <button class="main-swiper-btns-btn _active" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d анимация
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d анимация
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d моделирование
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d моделирование
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d визуализация для застройщиков
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d визуализация для застройщиков
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              градостроительная 3d визуализация
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              градостроительная 3d визуализация
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              предметная 3d визуализация
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              предметная 3d визуализация
            </span>
          </button>
        </div>

        <div class="main-swiper">
          <div class="main-swiper-wrapper">
            <div class="main-swiper-slide">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>