<section class="main">

  <div class="main-video-anim-container">

    <div class="container main-container">

      <h1 class="main-title">
        <span class="main-title__text main-title__text_hidden">Привет!</span>
        <div class="main-title-anim">
          <span class="main-title__text main-title-anim__text"></span>
          <span class="main-title-anim__cursor"></span>
        </div>

      </h1>

      <p class="main__text">
        Creative spaces
        <br>
        for life and business
        <br>
        that capture your essence
      </p>

    </div>

    <div class="main-video">
      <div class="main-video-inner">
        <img src="assets/images/main-img.jpg" alt="" class="main-video__preview">
      </div>
    </div>

  </div>

  <div class="container">
    <!-- <div class="main-swiper-container">
      <h3 class="main-swiper__title">
        что рендерим
      </h3>

      <div class="main-swiper-inner">
        <div class="main-swiper-btns">
          <button class="main-swiper-btns-btn _active" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d визуализация интерьеров
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d визуализация интерьеров
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d визуализация экстерьеров
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d визуализация экстерьеров
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d анимация
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d анимация
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d моделирование
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d моделирование
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              3d визуализация для застройщиков
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              3d визуализация для застройщиков
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              градостроительная 3d визуализация
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              градостроительная 3d визуализация
            </span>
          </button>

          <button class="main-swiper-btns-btn" type="button">
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_regular">
              предметная 3d визуализация
            </span>
            <span class="main-swiper-btns-btn__text main-swiper-btns-btn__text_bold">
              предметная 3d визуализация
            </span>
          </button>
        </div>

        <div class="swiper main-swiper">
          <div class="swiper-wrapper main-swiper-wrapper">
            <div class="swiper-slide main-swiper-slide">
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat
              </p>
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat. nibh tempor aliquam diam id. Cursus urna morbi lorem gravida. Turpis enim suspendisse nulla
                nisi aliquet. Cursus nulla condimentum at mi volutpat.
              </p>

              <a href="#" class="main-swiper-slide-btn">
                ПОДРОБНЕЕ
                <span class="main-swiper-slide-btn-icon">
                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                    <use href="#arrow-icon"></use>
                  </svg>

                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                    <use href="#arrow-icon"></use>
                  </svg>
                </span>
              </a>
            </div>

            <div class="swiper-slide main-swiper-slide">
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat
              </p>
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat. nibh tempor aliquam diam id. Cursus urna morbi lorem gravida. Turpis enim suspendisse nulla
                nisi aliquet. Cursus nulla condimentum at mi volutpat.
              </p>

              <a href="#" class="main-swiper-slide-btn">
                ПОДРОБНЕЕ
                <span class="main-swiper-slide-btn-icon">
                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                    <use href="#arrow-icon"></use>
                  </svg>

                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                    <use href="#arrow-icon"></use>
                  </svg>
                </span>
              </a>
            </div>

            <div class="swiper-slide main-swiper-slide">
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat
              </p>
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat. nibh tempor aliquam diam id. Cursus urna morbi lorem gravida. Turpis enim suspendisse nulla
                nisi aliquet. Cursus nulla condimentum at mi volutpat.
              </p>

              <a href="#" class="main-swiper-slide-btn">
                ПОДРОБНЕЕ
                <span class="main-swiper-slide-btn-icon">
                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                    <use href="#arrow-icon"></use>
                  </svg>

                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                    <use href="#arrow-icon"></use>
                  </svg>
                </span>
              </a>
            </div>

            <div class="swiper-slide main-swiper-slide">
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat
              </p>
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat. nibh tempor aliquam diam id. Cursus urna morbi lorem gravida. Turpis enim suspendisse nulla
                nisi aliquet. Cursus nulla condimentum at mi volutpat.
              </p>

              <a href="#" class="main-swiper-slide-btn">
                ПОДРОБНЕЕ
                <span class="main-swiper-slide-btn-icon">
                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                    <use href="#arrow-icon"></use>
                  </svg>

                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                    <use href="#arrow-icon"></use>
                  </svg>
                </span>
              </a>
            </div>

            <div class="swiper-slide main-swiper-slide">
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat
              </p>
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat. nibh tempor aliquam diam id. Cursus urna morbi lorem gravida. Turpis enim suspendisse nulla
                nisi aliquet. Cursus nulla condimentum at mi volutpat.
              </p>

              <a href="#" class="main-swiper-slide-btn">
                ПОДРОБНЕЕ
                <span class="main-swiper-slide-btn-icon">
                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                    <use href="#arrow-icon"></use>
                  </svg>

                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                    <use href="#arrow-icon"></use>
                  </svg>
                </span>
              </a>
            </div>

            <div class="swiper-slide main-swiper-slide">
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat
              </p>
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat. nibh tempor aliquam diam id. Cursus urna morbi lorem gravida. Turpis enim suspendisse nulla
                nisi aliquet. Cursus nulla condimentum at mi volutpat.
              </p>

              <a href="#" class="main-swiper-slide-btn">
                ПОДРОБНЕЕ
                <span class="main-swiper-slide-btn-icon">
                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                    <use href="#arrow-icon"></use>
                  </svg>

                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                    <use href="#arrow-icon"></use>
                  </svg>
                </span>
              </a>
            </div>

            <div class="swiper-slide main-swiper-slide">
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat
              </p>
              <p class="main-swiper-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nibh tempor aliquam diam id. Cursus
                urna morbi lorem gravida. Turpis enim suspendisse nulla nisi aliquet. Cursus nulla condimentum at mi
                volutpat. nibh tempor aliquam diam id. Cursus urna morbi lorem gravida. Turpis enim suspendisse nulla
                nisi aliquet. Cursus nulla condimentum at mi volutpat.
              </p>

              <a href="#" class="main-swiper-slide-btn">
                ПОДРОБНЕЕ
                <span class="main-swiper-slide-btn-icon">
                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                    <use href="#arrow-icon"></use>
                  </svg>

                  <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                    <use href="#arrow-icon"></use>
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="main-render">
      <h3 class="main-render__title">
        для кого рендерим
      </h3>

      <ul class="main-render-list">
        <li class="main-render-list-item">
          <h4 class="main-render-list-item__title">
            Архитекторы и дизайнеры
          </h4>

          <p class="main-render-list-item__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat in amet tristique venenatis, morbi
            malesuada montes.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat in amet tristique
            venenatis, morbi malesuada montes.
          </p>

          <div class="main-render-list-item-img">
            <img src="assets/images/render-1.jpg" alt="render-1" class="main-render-list-item-img__img">
          </div>
        </li>

        <li class="main-render-list-item">
          <h4 class="main-render-list-item__title">
            Производители
          </h4>

          <p class="main-render-list-item__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat in amet tristique venenatis, morbi
            malesuada montes.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat in amet tristique
            venenatis, morbi malesuada montes.
          </p>

          <div class="main-render-list-item-img">
            <img src="assets/images/render-2.jpg" alt="render-1" class="main-render-list-item-img__img">
          </div>
        </li>

        <li class="main-render-list-item">
          <h4 class="main-render-list-item__title">
            ДЕВЕЛОПЕРЫ
          </h4>

          <p class="main-render-list-item__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat in amet tristique venenatis, morbi
            malesuada montes.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Placerat in amet tristique
            venenatis, morbi malesuada montes.
          </p>

          <div class="main-render-list-item-img">
            <img src="assets/images/render-3.jpg" alt="render-1" class="main-render-list-item-img__img">
          </div>
        </li>
      </ul>
    </div> -->

    <!-- <div class="main-about">
      <h3 class="main-about__title">
        О Node Render
      </h3>

      <p class="main-about__description">
        Визуализация позволяет создать графический макет проекта максимальной реалистичности. С помощью компьютерной
        графики создают объёмные трёхмерные модели, которые позволяют заказчику увидеть будущий объект до начала его
        реализации и строительства
      </p>

      <div class="main-about-inner">
        <div class="main-about-video">
          <img src="assets/images/about-video.jpg" alt="about-video-preview" class="main-about-video__preview">
        </div>

        <div class="main-about-info">
          <ul class="main-about-info-list">
            <li class="main-about-info-list-item">
              <span class="main-about-info-list-item__text">
                01
              </span>
              <span class="main-about-info-list-item__text">
                Команда профессионалов
              </span>
            </li>

            <li class="main-about-info-list-item">
              <span class="main-about-info-list-item__text">
                02
              </span>
              <span class="main-about-info-list-item__text">
                Одна из самых быстрорастущих компаний в отрасли
              </span>
            </li>

            <li class="main-about-info-list-item">
              <span class="main-about-info-list-item__text">
                03
              </span>
              <span class="main-about-info-list-item__text">
                Предлагаем комплексные технологические решения
              </span>
            </li>

            <li class="main-about-info-list-item">
              <span class="main-about-info-list-item__text">
                04
              </span>
              <span class="main-about-info-list-item__text">
                Более 100 успешно завершенных проектов
              </span>
            </li>

            <li class="main-about-info-list-item">
              <span class="main-about-info-list-item__text">
                05
              </span>
              <span class="main-about-info-list-item__text">
                3D-визуализация любой сложности
              </span>
            </li>
          </ul>

          <h5 class="main-about-info__title">
            Lorem ipsum dolor
          </h5>

          <div class="main-about-info-text">
            <p class="main-about-info__text">
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
              lacus
              consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur
              semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc
              nibh
              condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet
              consectetur.
              Libero sed et lacus consectetur semper facilisis turpis.
            </p>
            <p class="main-about-info__text">
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et
              lacus
              consectetur semper facilisis turpis.
            </p>
          </div>

          <a href="#" class="main-swiper-slide-btn main-about-info__link">
            ПОДРОБНЕЕ
            <span class="main-swiper-slide-btn-icon">
              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                <use href="#arrow-icon"></use>
              </svg>

              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                <use href="#arrow-icon"></use>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div> -->

    <!-- <div class="main-form-wrapper">
      {{> _form }}
    </div> -->
  </div>

</section>