<nav class="menu">
  <div class="container menu-container">

    <div class="menu-inner">
      <div class="menu-box">
        <a href="#" class="menu__link menu__link_main">
          Портфолио
        </a>

        <a href="#" class="menu__link menu__link_medium">
          Для архитекторов и дизайнеров
        </a>

        <a href="#" class="menu__link menu__link_medium">
          Для девелоперов
        </a>

        <a href="#" class="menu__link menu__link_medium">
          Для производителей
        </a>
      </div>

      <div class="menu-box">
        <a href="#" class="menu__link menu__link_main">
          Услуги
        </a>

        <a href="#" class="menu__link menu__link_medium">
          3D-моделирование
        </a>

        <a href="#" class="menu__link menu__link_medium">
          3D-анимация
        </a>

        <a href="#" class="menu__link menu__link_medium">
          3D-тур
        </a>

        <!-- dropdown -->
        <div class="dropdown menu-dropdown">
          <button type="button" class="dropdown-btn menu__link menu__link_medium menu-dropdown-btn">
            Визуализация
            <svg class="menu-dropdown-btn__icon">
              <use href="#dropdown-icon"></use>
            </svg>
          </button>

          <div class="dropdown-container menu-dropdown-container">
            <ul class="menu-dropdown-list">
              <li class="menu-dropdown-list-item">
                <a href="#" class="menu__link menu__link_grey">
                  Экстерьера
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Архитектурная
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Ландшафтная
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Дома
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Площадок
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Посёлков
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Комплексной застройки
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Для застройщиков
                </a>
              </li>

              <li class="menu-dropdown-list-item">
                <a href="#" class="menu__link menu__link_grey">
                  Интерьера
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Квартиры
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Ванной комнаты
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Кухни
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Офиса
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Ресторана
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Магазина
                </a>
              </li>

              <li class="menu-dropdown-list-item">
                <a href="#" class="menu__link menu__link_grey">
                  Предметная
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Мебели
                </a>

                <a href="#" class="menu__link menu__link_grey">
                  Объекта
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-inner">
      <div class="menu-box">
        <a href="#" class="menu__link menu__link_main">
          О нас
        </a>
      </div>

      <div class="menu-box">
        <a href="#" class="menu__link menu__link_main">
          Блог
        </a>
      </div>

      <div class="menu-box menu-contacts">
        <a href="#" class="menu__link menu__link_main">
          Контакты
        </a>

        <div class="menu-contacts-inner">
          <a href="#" class="menu-contacts__link">Instagram</a>
          <a href="#" class="menu-contacts__link">Facebook</a>
          <a href="#" class="menu-contacts__link">Behance</a>
          <a href="#" class="menu-contacts__link">Artstation</a>
        </div>
      </div>
    </div>

  </div>
</nav>