<nav class="menu">
  <div class="container menu-container">

    <!-- <div class="menu-head">
      <a href="#" class="about-swiper-btns-btn menu-head__link">
        Портфолио

        <span class="about-swiper-btns-btn-icon">
          <svg class="about-swiper-btns-btn-icon__icon">
            <use href="#arrow-icon-small"></use>
          </svg>
        </span>
      </a>

      <a href="#" class="about-swiper-btns-btn menu-head__link">
        Услуги

        <span class="about-swiper-btns-btn-icon">
          <svg class="about-swiper-btns-btn-icon__icon">
            <use href="#arrow-icon-small"></use>
          </svg>
        </span>
      </a>

      <a href="#" class="about-swiper-btns-btn menu-head__link">
        О нас

        <span class="about-swiper-btns-btn-icon">
          <svg class="about-swiper-btns-btn-icon__icon">
            <use href="#arrow-icon-small"></use>
          </svg>
        </span>
      </a>

      <a href="#" class="about-swiper-btns-btn menu-head__link">
        Блог

        <span class="about-swiper-btns-btn-icon">
          <svg class="about-swiper-btns-btn-icon__icon">
            <use href="#arrow-icon-small"></use>
          </svg>
        </span>
      </a>

      <a href="#" class="about-swiper-btns-btn menu-head__link">
        Контакты

        <span class="about-swiper-btns-btn-icon">
          <svg class="about-swiper-btns-btn-icon__icon">
            <use href="#arrow-icon-small"></use>
          </svg>
        </span>
      </a>
    </div>

    <div class="menu-middle">
      <div class="menu-middle-box">
        <a href="#" class="menu-middle__link">
          Для архитекторов и дизайнеров
        </a>

        <a href="#" class="menu-middle__link">
          Для девелоперов
        </a>

        <a href="#" class="menu-middle__link">
          Для производителей
        </a>
      </div>

      <div class="menu-middle-box">
        <a href="#" class="menu-middle__link">
          3D-моделирование
        </a>

        <a href="#" class="menu-middle__link">
          3D-анимация
        </a>

        <a href="#" class="menu-middle__link">
          3D-тур
        </a>

        <a href="#" class="menu-middle__link">
          Визуализация
        </a>
      </div>
    </div> -->

    <div class="menu-box">
      <a href="#" class="menu__link_main">
        Портфолио
      </a>

      <a href="#" class="menu__link_medium">
        Для архитекторов и дизайнеров
      </a>

      <a href="#" class="menu__link_medium">
        Для девелоперов
      </a>

      <a href="#" class="menu__link_medium">
        Для производителей
      </a>
    </div>

    <div class="menu-box">
      <a href="#" class="menu__link_main">
        Услуги
      </a>

      <a href="#" class="menu__link_medium">
        3D-моделирование
      </a>

      <a href="#" class="menu__link_medium">
        3D-анимация
      </a>

      <a href="#" class="menu__link_medium">
        3D-тур
      </a>

      <a href="#" class="menu__link_medium">
        Визуализация
      </a>

      <a href="#" class="menu__link_grey">
        Экстерьера
      </a>

      <a href="#" class="menu__link_grey">
        Архитектурная
      </a>

      <a href="#" class="menu__link_grey">
        Ландшафтная
      </a>

      <a href="#" class="menu__link_grey">
        Дома
      </a>

      <a href="#" class="menu__link_grey">
        Площадок
      </a>

      <a href="#" class="menu__link_grey">
        Посёлков
      </a>

      <a href="#" class="menu__link_grey">
        Комплексной застройки
      </a>

      <a href="#" class="menu__link_grey">
        Для застройщиков
      </a>
    </div>

    <div class="menu-box">
      <a href="#" class="menu__link_main">
        О нас
      </a>

      <div class="menu-box__inner">
        <div class="menu-box__links">
          <a href="#" class="menu__link_grey">
            Интерьера
          </a>

          <a href="#" class="menu__link_grey">
            Квартиры
          </a>

          <a href="#" class="menu__link_grey">
            Ванной комнаты
          </a>

          <a href="#" class="menu__link_grey">
            Кухни
          </a>

          <a href="#" class="menu__link_grey">
            Офиса
          </a>

          <a href="#" class="menu__link_grey">
            Ресторана
          </a>

          <a href="#" class="menu__link_grey">
            Магазина
          </a>
        </div>

        <div class="menu-box__links">
          <a href="#" class="menu__link_grey">
            Предметная
          </a>

          <a href="#" class="menu__link_grey">
            Мебели
          </a>

          <a href="#" class="menu__link_grey">
            Объекта
          </a>
        </div>
      </div>
    </div>

    <div class="menu-box">
      <a href="#" class="menu__link_main">
        Блог
      </a>
    </div>

    <div class="menu-box">
      <a href="#" class="menu__link_main">
        Контакты
      </a>
    </div>

  </div>
</nav>