<section class="modeling">
  <div class="container">

    <div class="page-links modeling-links">
      <a href="#" class="page-links__link">
        Главная
      </a>

      <a href="#" class="page-links__link">
        Услуги
      </a>

      <a href="#" class="page-links__link _active">
        3D-моделирование
      </a>
    </div>

    <div class="page-info modeling-page-info">
      <h2 class="page-title modeling-page-info__title">
        3D-моделирование
      </h2>

      <p class="page-description">
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus <br>
        consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis dolor sit.
      </p>
    </div>

    <div class="modeling-img">
      <img src="assets/images/modeling-main.jpg" alt="modeling" class="modeling-img__img">
    </div>

    <div class="modeling-portfolio">
      <div class="modeling-portfolio-img">
        <img src="assets/images/3d-modeling.jpg" alt="modeling" class="modeling-portfolio-img__img">
      </div>

      <div class="modeling-portfolio__subtitle">
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>
      </div>

      <div class="modeling-portfolio__text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>

        <ul>
          <li>Тест</li>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
        </ul>

        <ol>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
          <li>Тест</li>
        </ol>

        <h1>Тест <a href="">Тест</a></h1>
        <h2>Тест <a href="">Тест</a></h2>
        <h3>Тест <a href="">Тест</a></h3>
        <h4>Тест <a href="">Тест</a></h4>
        <h5>Тест <a href="">Тест</a></h5>
        <h6>Тест <a href="">Тест</a></h6>
      </div>

      <a href="#" class="main-swiper-slide-btn modeling-portfolio__link">
        ПОСМОТРЕТЬ ПОРТФОЛИО
        <span class="main-swiper-slide-btn-icon">
          <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
            <use href="#arrow-icon"></use>
          </svg>

          <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
            <use href="#arrow-icon"></use>
          </svg>
        </span>
      </a>
    </div>

    <div class="modeling-info">
      <h4 class="modeling-info__title">
        Lorem ipsum dolor sit amet consectetur
      </h4>

      <div class="modeling-info__text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>

        <ul>
          <li>Тест</li>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
        </ul>

        <ol>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
          <li>Тест</li>
        </ol>

        <h1>Тест <a href="">Тест</a></h1>
        <h2>Тест <a href="">Тест</a></h2>
        <h3>Тест <a href="">Тест</a></h3>
        <h4>Тест <a href="">Тест</a></h4>
        <h5>Тест <a href="">Тест</a></h5>
        <h6>Тест <a href="">Тест</a></h6>
      </div>

      <div class="modeling-info-img">
        <img src="assets/images/modeling-info.jpg" alt="modeling" class="modeling-info-img__img">
      </div>
    </div>

    <div class="modeling-form">
      {{> _form }}
    </div>

  </div>
</section>