<div class="portfolio-item">
  <div class="container">

    <div class="page-links">
      <a href="#" class="page-links__link">
        Главная
      </a>

      <a href="#" class="page-links__link">
        Портфолио
      </a>

      <a href="#" class="page-links__link _active">
        Авто
      </a>
    </div>

    <div class="page-info portfolio-item-info">
      <h2 class="page-title portfolio-item-title">
        АВТО
      </h2>

      <p class="page-description portfolio-item-description">
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis.
      </p>
    </div>
  </div>
  <div class="portfolio-nav-wrapper">
    <div class="container">

      <div class="portfolio-nav">
        <div class="portfolio-nav-inner">
          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              интерьеры
            </a>
          </div>

          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              экстерьеры
            </a>
          </div>

          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              анимация
            </a>
          </div>
        </div>

        <div class="portfolio-nav-inner">
          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              предметы
            </a>
          </div>

          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link _active">
              авто
            </a>
          </div>

          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              все работы
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">

    <ul class="portfolio-item-list">
      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-1.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-2.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-3.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-4.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-5.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-6.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-7.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-8.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-9.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="portfolio-item-list__item">
        <div class="project-card">
          <div class="project-card-img">
            <img src="assets/images/auto-10.jpg" alt="project" class="project-card-img__img">
          </div>

          <div class="project-card-info">
            <div class="project-card-info__head">
              <h5 class="project-card-info__title">
                Наименование заказчика
              </h5>

              <span class="project-card-info__date">
                25.11.2022
              </span>
            </div>

            <div class="project-card-info__box">
              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>

              <span class="project-card-info__name">
                ВИД УСЛУГИ
              </span>
            </div>
          </div>
        </div>
      </li>

    </ul>

  </div>
</div>