<div class="portfolio">

  <div class="container">
    <div class="page-info portfolio-info">
      <h2 class="page-title portfolio-title">
        Портфолио
      </h2>

      <p class="page-description portfolio-description">
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis.
      </p>
    </div>
  </div>

  <div class="portfolio-nav-wrapper">
    <div class="container">

      <div class="portfolio-nav">
        <div class="portfolio-nav-inner">
          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              интерьеры
            </a>
          </div>

          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              экстерьеры
            </a>
          </div>

          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              анимация
            </a>
          </div>

          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              предметы
            </a>
          </div>

          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              авто
            </a>
          </div>

          <div class="portfolio-nav-item">
            <a href="#" class="portfolio-nav-item__link">
              все работы
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="portfolio-sections">

    <div class="portfolio-block">
      <div class="container">

        <h3 class="portfolio-block__title">
          Архитекторам и дизайнерам
        </h3>

        <p class="portfolio-block__text">
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
          proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
        </p>

        <ul class="portfolio-block-list">
          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-1.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    31.01.2023
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
              <!-- инфа по каждому проекту -->
              <template>
                <p class="project-modal__description">
                  Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis.
                  Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet
                  vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed
                  et lacus consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et
                  lacus consectetur semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla
                  sit iaculis nunc nibh condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum
                  dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis.
                </p>
                <div class="project-modal-images">
                  <!-- <div class="project-modal-img">
                    <img src="assets/images/auto-1.jpg" alt="auto" class="project-modal-img__img">
                  </div>
                  <div class="project-modal-img">
                    <img src="assets/images/auto-1.jpg" alt="auto" class="project-modal-img__img">
                  </div>
                  <div class="project-modal-img">
                    <img src="assets/images/auto-1.jpg" alt="auto" class="project-modal-img__img">
                  </div>
                  <div class="project-modal-img">
                    <img src="assets/images/auto-1.jpg" alt="auto" class="project-modal-img__img">
                  </div> -->
                  <a href="https://youtu.be/fo3mRwqj3YE" class="project-modal-img" data-fancybox>
                    <img src="assets/images/auto-1.jpg" alt="auto" class="project-modal-img__img">
                  </a>
                  <a href="https://youtu.be/fo3mRwqj3YE" class="project-modal-img" data-fancybox>
                    <img src="assets/images/auto-1.jpg" alt="auto" class="project-modal-img__img">
                  </a>
                  <a href="https://youtu.be/fo3mRwqj3YE" class="project-modal-img" data-fancybox>
                    <img src="assets/images/auto-1.jpg" alt="auto" class="project-modal-img__img">
                  </a>
                  <a href="https://youtu.be/fo3mRwqj3YE" class="project-modal-img" data-fancybox>
                    <img src="assets/images/auto-1.jpg" alt="auto" class="project-modal-img__img">
                  </a>
                </div>
              </template>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-2.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-3.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-4.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-5.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-6.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-7.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-8.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-9.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-design-10.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="portfolio-sections-border"></div>

    <div class="portfolio-block">
      <div class="container">

        <h3 class="portfolio-block__title">
          Производителям
        </h3>

        <p class="portfolio-block__text">
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
          proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
        </p>

        <ul class="portfolio-block-list">
          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-1.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-2.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-3.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-4.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-5.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-6.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-7.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-8.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-9.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-maker-10.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="portfolio-sections-border"></div>

    <div class="portfolio-block">
      <div class="container">

        <h3 class="portfolio-block__title">
          ДЕВЕЛОПЕРАМ
        </h3>

        <p class="portfolio-block__text">
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
          proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
        </p>

        <ul class="portfolio-block-list">
          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-1.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-2.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-3.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-4.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-5.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-6.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-7.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-8.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-9.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>

          <li class="portfolio-block-list-item">
            <div class="project-card">
              <div class="project-card-img">
                <img src="assets/images/for-dev-10.jpg" alt="project" class="project-card-img__img">
              </div>

              <div class="project-card-info">
                <div class="project-card-info__head">
                  <h5 class="project-card-info__title">
                    Наименование заказчика
                  </h5>

                  <span class="project-card-info__date">
                    25.11.2022
                  </span>
                </div>

                <div class="project-card-info__box">
                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>

                  <span class="project-card-info__name">
                    ВИД УСЛУГИ
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>