<div class="project-modal">
  <div class="project-modal-inner">
    <div class="project-modal-bg"></div>

    <div class="project-modal-container">
      <button type="button" class="project-modal-btn">
        <svg>
          <use href="#close-menu-icon"></use>
        </svg>
      </button>

      <div class="project-modal-head">
        <div class="project-modal-head-info">
          <h3 class="project-modal-head__title">
          </h3>

          <span class="project-modal-head__date">
          </span>
        </div>

        <ul class="project-modal-head-service">
          <template class="project-modal-service-item-template">
            <li class="project-modal-head-service-item">
              ВИД УСЛУГИ
            </li>
          </template>
          <!-- <li class="project-modal-head-service-item">
            ВИД УСЛУГИ
          </li>
          <li class="project-modal-head-service-item">
            ВИД УСЛУГИ
          </li>
          <li class="project-modal-head-service-item">
            ВИД УСЛУГИ
          </li> -->
        </ul>
      </div>

      <p class="project-modal__description">
      </p>

      <div class="project-modal-images">

      </div>
    </div>
  </div>
</div>