<section class="services">
  <div class="container">
    <div class="page-info services-info">
      <h2 class="page-title services-title">
        Услуги
      </h2>

      <p class="page-description services-description">
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis.
      </p>
    </div>
  </div>

  <ul class="services-list">

    <li class="services-list-item">
      <div class="container services-list-item-container">
        <div class="services-list-item-info">
          <h3 class="services-list-item__title">
            3D-моделирование
          </h3>

          <div class="services-list-item__description">
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur
              semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
              condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet
              consectetur.
              Libero sed et lacus consectetur semper facilisis turpis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis.
            </p>
          </div>

          <a href="#" class="main-swiper-slide-btn services-list-item__link">
            ПОДРОБНЕЕ
            <span class="main-swiper-slide-btn-icon">
              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                <use href="#arrow-icon"></use>
              </svg>

              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                <use href="#arrow-icon"></use>
              </svg>
            </span>
          </a>
        </div>

        <div class="services-list-item-img">
          <img src="assets/images/3d-modeling.jpg" alt="modeling" class="services-list-item-img__img">
        </div>
      </div>
    </li>

    <li class="services-list-item">
      <div class="container services-list-item-container">
        <div class="services-list-item-info">
          <h3 class="services-list-item__title">
            3D-анимация
          </h3>

          <div class="services-list-item__description">
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur
              semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
              condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet
              consectetur.
              Libero sed et lacus consectetur semper facilisis turpis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis.
            </p>
          </div>

          <a href="#" class="main-swiper-slide-btn services-list-item__link">
            ПОДРОБНЕЕ
            <span class="main-swiper-slide-btn-icon">
              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                <use href="#arrow-icon"></use>
              </svg>

              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                <use href="#arrow-icon"></use>
              </svg>
            </span>
          </a>
        </div>

        <div class="services-list-item-img">
          <img src="assets/images/3d-animation.jpg" alt="modeling" class="services-list-item-img__img">
        </div>
      </div>
    </li>

    <li class="services-list-item">
      <div class="container services-list-item-container">
        <div class="services-list-item-info">
          <h3 class="services-list-item__title">
            3D-тур
          </h3>

          <div class="services-list-item__description">
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur
              semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
              condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet
              consectetur.
              Libero sed et lacus consectetur semper facilisis turpis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis.
            </p>
          </div>

          <a href="#" class="main-swiper-slide-btn services-list-item__link">
            ПОДРОБНЕЕ
            <span class="main-swiper-slide-btn-icon">
              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                <use href="#arrow-icon"></use>
              </svg>

              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                <use href="#arrow-icon"></use>
              </svg>
            </span>
          </a>
        </div>

        <div class="services-list-item-img">
          <img src="assets/images/3d-tour.jpg" alt="modeling" class="services-list-item-img__img">
        </div>
      </div>
    </li>

    <li class="services-list-item">
      <div class="container services-list-item-container">
        <div class="services-list-item-info">
          <h3 class="services-list-item__title">
            Визуализация
          </h3>

          <div class="services-list-item__description">
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur
              semper facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
              condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet
              consectetur.
              Libero sed et lacus consectetur semper facilisis turpis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus
              proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel.
              Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus
              consectetur semper facilisis turpis.
            </p>
          </div>

          <a href="#" class="main-swiper-slide-btn services-list-item__link">
            ПОДРОБНЕЕ
            <span class="main-swiper-slide-btn-icon">
              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
                <use href="#arrow-icon"></use>
              </svg>

              <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
                <use href="#arrow-icon"></use>
              </svg>
            </span>
          </a>
        </div>

        <div class="services-list-item-img">
          <img src="assets/images/visualisation.jpg" alt="modeling" class="services-list-item-img__img">
        </div>
      </div>
    </li>

  </ul>

  <div class="container">
    <div class="services-form">
      {{> _form }}
    </div>
  </div>
</section>