<section class="visualization">
  <div class="container">

    <div class="page-links visualization-links">
      <a href="#" class="page-links__link">
        Главная
      </a>

      <a href="#" class="page-links__link">
        Услуги
      </a>

      <a href="#" class="page-links__link _active">
        Визуализация
      </a>
    </div>

    <div class="page-info visualization-head">
      <h2 class="page-title">
        Визуализация
      </h2>

      <p class="page-description">
        Lorem ipsum dolor sit amet consectetur. Libero sed et lacus <br>
        consectetur semper facilisis turpis. Cursus proin
        egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
        malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
        facilisis turpis dolor sit.
      </p>
    </div>

    <div class="visualization-img">
      <img src="assets/images/visualisation.jpg" alt="visualization" class="visualization-img__img">
    </div>

  </div>

  <div class="visualization-nav-title-container">
    <div class="container">
      <h4 class="visualization-nav-title">
        Мы делаем визуализацию:
      </h4>
    </div>
  </div>

  <div class="container visualization-nav-container">
    <div class="visualization-nav">
      <div class="visualization-nav__text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>

        <ul>
          <li>Тест</li>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
        </ul>

        <ol>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
          <li>Тест</li>
        </ol>

        <h1>Тест <a href="">Тест</a></h1>
        <h2>Тест <a href="">Тест</a></h2>
        <h3>Тест <a href="">Тест</a></h3>
        <h4>Тест <a href="">Тест</a></h4>
        <h5>Тест <a href="">Тест</a></h5>
        <h6>Тест <a href="">Тест</a></h6>
      </div>

      <a href="#" class="main-swiper-slide-btn visualization-nav__link">
        ПОСМОТРЕТЬ ПОРТФОЛИО
        <span class="main-swiper-slide-btn-icon">
          <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
            <use href="#arrow-icon"></use>
          </svg>

          <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
            <use href="#arrow-icon"></use>
          </svg>
        </span>
      </a>

      <div class="visualization-nav-links">
        <div class="visualization-nav-links-box">
          <a href="#" class="visualization-nav-links__link">Экстерьера</a>
          <a href="#" class="visualization-nav-links__link">Интерьера</a>
          <a href="#" class="visualization-nav-links__link">Архитектурная</a>
          <a href="#" class="visualization-nav-links__link">Ландшафтная</a>
          <a href="#" class="visualization-nav-links__link">Квартиры</a>
          <a href="#" class="visualization-nav-links__link">Дома</a>
          <a href="#" class="visualization-nav-links__link">Мебели</a>
          <a href="#" class="visualization-nav-links__link">Ванной комнаты</a>
          <a href="#" class="visualization-nav-links__link">Кухни</a>
        </div>

        <div class="visualization-nav-links-box">
          <a href="#" class="visualization-nav-links__link">Офиса</a>
          <a href="#" class="visualization-nav-links__link">Ресторана</a>
          <a href="#" class="visualization-nav-links__link">Магазина</a>
          <a href="#" class="visualization-nav-links__link">Объекта</a>
          <a href="#" class="visualization-nav-links__link">Площадок</a>
          <a href="#" class="visualization-nav-links__link">Посёлков</a>
          <a href="#" class="visualization-nav-links__link">Комплексной застройки</a>
          <a href="#" class="visualization-nav-links__link">Для застройщиков</a>
          <a href="#" class="visualization-nav-links__link">Предметная</a>
        </div>
      </div>
    </div>

    <div class="visualization-info">
      <div class="visualization-info-img">
        <img src="assets/images/for-dev-8.jpg" alt="visualization-info" class="visualization-info-img__img">
      </div>

      <h4 class="visualization-info__title">
        Lorem ipsum dolor sit amet consectetur
      </h4>

      <div class="visualization-info__text">
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper
          facilisis turpis. Cursus proin egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh
          condimentum amet vel. Sollicitudin malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur.
          Libero sed et lacus consectetur semper facilisis turpis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur semper facilisis turpis. Cursus proin
          egestas libero eleifend ac facilisi. Fringilla sit iaculis nunc nibh condimentum amet vel. Sollicitudin
          malesuada massa eu eget praesent. Lorem ipsum dolor sit amet consectetur. Libero sed et lacus consectetur
          semper facilisis turpis.
        </p>

        <ul>
          <li>Тест</li>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
        </ul>

        <ol>
          <li>Тест</li>
          <li>
            <a href="">Тест</a>
          </li>
          <li>Тест</li>
        </ol>

        <h1>Тест <a href="">Тест</a></h1>
        <h2>Тест <a href="">Тест</a></h2>
        <h3>Тест <a href="">Тест</a></h3>
        <h4>Тест <a href="">Тест</a></h4>
        <h5>Тест <a href="">Тест</a></h5>
        <h6>Тест <a href="">Тест</a></h6>
      </div>
    </div>
  </div>

  <div class="visualization-swiper-container">
    <div class="container visualization-swiper-inner">
      <h4 class="visualization-swiper__title">
        Lorem ipsum dolor sit amet consectetur
      </h4>

      <div class="visualization-swiper-btns">
        <button class="visualization-swiper-btn visualization-swiper-btn_prev" type="button">
          <svg class="visualization-swiper-btn__icon">
            <use href="#arrow-icon-medium_left"></use>
          </svg>
        </button>

        <button class="visualization-swiper-btn visualization-swiper-btn_next" type="button">
          <svg class="visualization-swiper-btn__icon">
            <use href="#arrow-icon-medium"></use>
          </svg>
        </button>
      </div>

      <div class="swiper visualization-swiper">
        <div class="swiper-wrapper visualization-swiper-wrapper">
          <a href="assets/images/visualisation-slide-1.jpg" class="swiper-slide visualization-swiper-slide"
            data-fancybox>
            <img class="visualization-swiper-slide__img" src="assets/images/visualisation-slide-1.jpg"
              alt="visualization">
          </a>

          <a href="assets/images/visualisation-slide-2.jpg" class="swiper-slide visualization-swiper-slide"
            data-fancybox>
            <img class="visualization-swiper-slide__img" src="assets/images/visualisation-slide-2.jpg"
              alt="visualization">
          </a>

          <a href="assets/images/visualisation-slide-1.jpg" class="swiper-slide visualization-swiper-slide"
            data-fancybox>
            <img class="visualization-swiper-slide__img" src="assets/images/visualisation-slide-1.jpg"
              alt="visualization">
          </a>

          <a href="assets/images/visualisation-slide-2.jpg" class="swiper-slide visualization-swiper-slide"
            data-fancybox>
            <img class="visualization-swiper-slide__img" src="assets/images/visualisation-slide-2.jpg"
              alt="visualization">
          </a>

          <a href="assets/images/visualisation-slide-1.jpg" class="swiper-slide visualization-swiper-slide"
            data-fancybox>
            <img class="visualization-swiper-slide__img" src="assets/images/visualisation-slide-1.jpg"
              alt="visualization">
          </a>

          <a href="assets/images/visualisation-slide-2.jpg" class="swiper-slide visualization-swiper-slide"
            data-fancybox>
            <img class="visualization-swiper-slide__img" src="assets/images/visualisation-slide-2.jpg"
              alt="visualization">
          </a>
        </div>
      </div>

      <a href="#" class="main-swiper-slide-btn visualization-swiper__link">
        ПОСМОТРЕТЬ ПОРТФОЛИО
        <span class="main-swiper-slide-btn-icon">
          <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_1">
            <use href="#arrow-icon"></use>
          </svg>

          <svg class="main-swiper-slide-btn-icon__icon main-swiper-slide-btn-icon__icon_2">
            <use href="#arrow-icon"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>

  <div class="container">
    <div class="visualization-form">
      {{> _form }}
    </div>
  </div>

</section>